.wrapper .grid_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
  grid-template-columns: repeat(3, 150px);
  -ms-grid-rows: (50px)[2];
  grid-template-rows: repeat(2, 50px);
      grid-template-areas: "home home" "buy loop" "experience about";
}