.wrapper .grid_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
  grid-template-columns: repeat(3, 150px);
  -ms-grid-rows: (50px)[2];
  grid-template-rows: repeat(2, 50px);
      grid-template-areas: "home home" "buy loop" "experience about";
}

.wrapper .conte1, .wrapper .conte2, .wrapper .conte3, .wrapper .conte4, .wrapper .conte5 {
  background-color: red;
  border: 1.5px dashed grey;
}